* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header{
    display:flex;
    justify-content:space-between;
    align-items: center;
    background-color: black;
    height: 120px;

}

.logo-image{
    height:100px;
    width:200px;
    padding-left: 50%;
}

.navigation {
    display: flex;
    gap: 75px;
}

.navigation a{
    color:white;
    text-decoration: none;
    font-size: 20px;
    font-family: 'Poppins';
}

.signup-button a{
    background-color: aliceblue;
    color:black;
    padding: 10px 20px;
    border-radius: 20px;
    text-decoration: none;
    font-size: 20px;
    font-family: 'Poppins';
}
.signup-button a:hover {
    background-color: #a4c2bc;}

.signup-button{
    padding-right: 30px;
}

.main-page{
    background: linear-gradient(180deg, #134150, #2f3030); /* Gradient background */
    width: 100%;
    height: 100vh;
    padding:20px;
}

.main-page{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    display: flex;
}


.text-container h1, .text-container p {
    font-family: 'Poppins', sans-serif;
    color: #ffffff;
    padding-left: 25%;}

.text-container h1 {
    font-size: 400%; /* Adjust as needed */
}

.text-container p {
    font-size: 200%; /* Adjust as needed */
}

.text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding:20%;
}

.logo-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.second-logo-image{
    max-width:65%; /* Ensure the image scales properly */
    height: 75%;
}

.column {
    flex: 1;
    padding: 20px; /* Optional padding */
}

/*ABOUT US */

.mission-page{
    background:#134150; /* Gradient background */
    width: 100%;
    height: 100vh;
    padding:20px;
}

.mission-page{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    display: flex;
}


.mission-text-container h1, .mission-text-container p {
    font-family: 'Poppins', sans-serif;
    color: #ffffff;
    padding-left: 25%;}

.mission-text-container h1 {
    font-size: 400%; /* Adjust as needed */
}

.mission-text-container p {
    font-size: 200%; /* Adjust as needed */
}

.mission-text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding:20%;
}

.mission-image-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.mission-image{
    max-width: 70%; /* Ensure the image scales properly */
    height: 80%;
}

.column {
    flex: 1;
    padding: 20px; /* Optional padding */
}

/*PAST EVENTS*/


.events-page{
    background:#134150; /* Gradient background */
    width: 100%;
    height: auto;
    padding:20px;
}

.events-text-container {
    text-align: center;
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
    font-size: 200%;
}


.events-past-container {
    display: flex;
    justify-content: flex-start;
    padding: 0; 
  }
  
  .styled-button {
    width: 300px;
    height: 100px;
    border: none;
    background-color: #b4bcba;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 250%;
    border-radius:0 50px 50px 0;
    padding-left:0;
    transition: background-color 0.3s, transform 0.3s;
  }
  
  .styled-button:hover {
    transform: translateY(-2px);
  }
  

.past-events{
    display:flex;
    flex-wrap: wrap;
    gap:40px;
    padding: 40px;
    padding-top:40px;
    justify-content: center;
    align-items: center;
}

.event{
    width:500px;
    height:auto;
    background-color: #ebebeb;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    padding:70px;
}

.event p{
    font-size:25px;
}

.event img{
    width:400px;
    height:400px;
}

.event .date-image{
    width:50px;
    height:50px;
}


.event .date{
    display:flex;
    justify-content:center; 
    align-items:center;
    text-align:center;
    gap:30px; 
    margin-top:20px;
}



/*Upcoming Event*/



.events-upcoming-container {
    display: flex;
    justify-content: flex-start;
    padding: 30px; 
    padding-left: 0px;
}

  .upcoming-events{
    display:flex;
    flex-wrap: wrap;
    gap:40px;
    padding: 40px;
    padding-top:40px;
    justify-content: center;
    align-items: center;
}

.upcoming-event{
    width:500px;
    height:auto;
    background-color: #ebebeb;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    padding:70px;
}

.upcoming-event p{
    font-size:30px;
}

.upcoming-event .date-image{
    width:50px;
    height:50px;
}


.upcoming-event .date{
    display:flex;
    justify-content:center; 
    align-items:center;
    text-align:center;
    gap:30px; 
    margin-top:20px;
}


.upcoming-event .time-image{
    width:50px;
    height:50px;
}


.upcoming-event .time{
    display:flex;
    justify-content:center; 
    align-items:center;
    text-align:center;
    gap:30px; 
    margin-top:20px;
}


/*Team*/
.team-page{
    background:#134150; /* Gradient background */
    width: 100%;
    height: auto;
    padding:20px;
}

.teams-container {
    display: flex;
    justify-content: flex-start;
    padding: 0; 
  }


.team-text-container {
    text-align: center;
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
    font-size: 250%;
    padding:40px;
    padding-bottom: 60px;
}

.teams-container{
    display:flex;
    flex-wrap: wrap;
    gap:100px;
    padding: 40px;
    padding-top:70px;
    justify-content: center;
}


.teams-container p{
    font-size:27px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    padding:30px;
}

.team h1{
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
}

.team{
    border-radius: 50px;
    margin-top: 25px;
    background-color: #ebebeb;
    width:650px;
    height:750px;
    display: flex;
    flex-direction:column; 
    align-items:center; 
}
.teams-container .team-image{
    width:300px;
    height:auto;
    position: relative;
    top: -60px; 

}

.team-title{
    position: relative;
    top: -85px; 
}

.team-title2{
    position: relative;
    top: -100px; 
}

.p-team{
    position: relative;
    top: -90px; 
}

/*CONTACT*/


.contact-page{
    background:#134150; /* Gradient background */
    width: 100%;
    height: auto;
    padding:20px;
}

.contact-text-container {
    text-align: center;
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
}
.contact-text-container h1{
    font-size: 500%;
}

.contact-container {
    display: flex;
    justify-content: flex-start;
    padding: 0; 
    align-items: center;
  }
  
.contact-desc{
    font-size: 180%;
}

.contact-container {
    display: flex;
    width: 100%;
}

.contact{
    display:flex;
    align-items: center; 
    justify-content: center;
    text-align: center;
    font-size: 30px;
    gap:50px;
    text-align: center;
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
    padding-top: 20px;
    padding-bottom: 20px;}


.contact-input{
    width: 80%;
    padding:10px;
    margin:20px;
    font-size: 40px;
    color:white;
}

.contacts-box{
    padding-top:50px;}

#name{
    background-color: #d3d8d9;
    color:white;
}

#email{
    background-color: #c6d0d0;
    color:rgb(255, 255, 255);

}

#message{
    background-color: #9fa3a8;
    color:white;
    height:30vh;

}

.contact-image{
    width:70px;
    height:auto;
}

.Submit {
    display: block;
    margin-left: 28%;
    padding: 10px 20px; /* Adjust padding to vertically center text */
    text-align: center;
    color: white;
    background-color: #7d7f82;
    border-radius: 10px;
    height: auto; /* Remove fixed height to allow padding to work */
    width: 150px;
    font-size: 20px;
    width:300px;
}


/*Media Queries dimension 1 Zoom: 60*/
@media screen and (max-width: 2058.67px) and (min-width: 1544px) and (max-height: 1118.67px) and (min-height: 839px) {    
    .text-container h1 {
        font-size: 250%; /* Adjust as needed */
    }

    .text-container p {
        font-size: 150%; /* Adjust as needed */
    }
    .second-logo-image{
        max-width: 60%; /* Ensure the image scales properly */
        height: 70%;
    }
    .mission-text-container h1 {
        font-size: 350%; /* Adjust as needed */
    }
    
    .mission-text-container p {
        font-size: 150%; /* Adjust as needed */
    }
    .mission-image{
        max-width: 65%; /* Ensure the image scales properly */
        height: 75%;
    }
    .events-text-container {
        font-size: 150%;
    }
    .styled-button {
        width: 200px;
        height: 80px;
        font-size: 150%;
      }

    .event{
        width:400px;
       
    }
    
    .event p{
        font-size:18px;
    }
    
    .event img{
        padding-top: 5px;
        width:300px;
        height:300px;
    }
    
    .event .date-image{
        width:40px;
        height:40px;
    }
    .event .date{
        font-size: 12px;
    }

    .upcoming-event{
        width:400px;
    }
    
    .upcoming-event p{
        font-size:20px;
    }
    
    .upcoming-event .date-image{
        width:30px;
        height:30px;
    }
    
    
    .upcoming-event .date{
        font-size: 12px;
    }
    
    .upcoming-event .time-image{
        width:40px;
        height:40px;
    }
    .upcoming-event .time{
        font-size: 12px;
    }


    .team-text-container {
        font-size: 150%;
    }
    
    .teams-container p{
        font-size:17px;
    }
    
    .team h1{
        font-size: 20px;
    }
    
    .team{
        width:500px;
        height:auto;
        margin-bottom: 20px;

    }
    .teams-container .team-image{
        width:200px;
    }
    .teams-container{
        gap:100px;
    }

    .contact-text-container h1{
        font-size: 400%;
    }

      
    .contact-desc{
        font-size: 110%;
    } 
    .contact-container {
        display: flex;
        width: 90%;
    }
    .contact{
        font-size: 20px;
        gap:50px;}

    .contact-input{
        width:70%;
        font-size:30px;
    }
    
    .contacts-box{
        padding-top:40px;}
    
    .contact-image{
        width:60px;
    }

    .team-title2{
        position: relative;
        top: -70px; 
    }
    
}
/*Media quiery 2 Zoom:70*/

@media screen and (max-width: 1800px) and (min-width: 1373px)   and (max-height: 838px) and (min-height: 745.78px){    
    .text-container h1 {
        font-size: 250%; /* Adjust as needed */
    }

    .text-container p {
        font-size: 130%; /* Adjust as needed */
    }
    .second-logo-image{
        max-width: 50%; /* Ensure the image scales properly */
        height: 60%;
    }
    .mission-text-container h1 {
        font-size: 300%; /* Adjust as needed */
    }
    .mission-text-container p {
        font-size: 130%; /* Adjust as needed */
    }
    .mission-image{
        max-width: 55%; /* Ensure the image scales properly */
        height: 65%;
    }
    .events-text-container {
        font-size: 90%;
    }
    .styled-button {
        width: 180px;
        height: 70px;
        font-size: 130%;
      }

    .event{
        width:300px;
        padding:30px;
    }
    
    .event p{
        font-size:17px;
    }
    .event h1{
        font-size: 25px;
    }
    
    .event img{
        width:200px;
        height:200px;
    }
    
    .event .date-image{
        width:30px;
        height:30px;
    }
    .event .date{
        font-size: 8px;
    }

    .upcoming-event{
        width:400px;
    }
    
       
    .upcoming-event h1{
        font-size:25px;
    }
    
    .upcoming-event p{
        font-size:15px;
    }
    
    .upcoming-event .date-image{
        width:25px;
        height:25px;
    }
    
    
    .upcoming-event .date{
        font-size:25px ;
    }
    
    .upcoming-event .time-image{
        width:25px;
        height:25px;
    }
    .upcoming-event .time{
        font-size: 25px;
    }

    .team-text-container {
        font-size: 90%;
    }
    
    .teams-container p{
        font-size:15px;
    }
    
    .team h1{
        font-size: 20px;
    }
    
    .team{
        width:400px;
        height:auto;
        margin-bottom: 15px;
    }

    .teams-container .team-image{
        width:100px;
    }
    .teams-container{
        gap:80px;
    }

    .teams-container .team-image{
        top: -30px; 
    }
    
    .team-title{
        position: relative;
        top: -45px; 
    }
    
    .team-title2{
        position: relative;
        top: -50px; 
    }
    
    .p-team{
        position: relative;
        top: -75px; 
    }

    .contact-text-container h1{
        font-size:300%;
    }

    .contact-desc{
        font-size: 100%;
    } 
    .contact-container {
        width: 100%;
        display: flex;
        align-items: center;
    }
    .contact{
        font-size: 15px;
        gap:40px;}

    .contact-input{
        width:60%;
        font-size:25px;
    }
    
    .contacts-box{
        padding-top:30px;}
    
    .contact-image{
        width:50px;
    }

}

/*Media quiery 2: Zoom:80*/

@media screen and (max-width: 1600px) and (min-width: 1500px) and (max-height: 750px) and (min-height:650px){
    .text-container h1 {
        font-size: 250%; /* Adjust as needed */
    }

    .text-container p {
        font-size: 120%; /* Adjust as needed */
    }
    .second-logo-image{
        max-width: 50%; /* Ensure the image scales properly */
        height: 60%;
    }
    .mission-text-container h1 {
        font-size: 300%; /* Adjust as needed */
    }
    .mission-text-container p {
        font-size: 130%; /* Adjust as needed */
    }
    .mission-image{
        max-width: 55%; /* Ensure the image scales properly */
        height: 65%;
    }
    .events-text-container {
        font-size: 100%;
    }
    .styled-button {
        width: 180px;
        height: 70px;
        font-size: 130%;
      }

    .event{
        width:300px;
        padding:30px;
    }
    
    .event h1{
        font-size: 20px;
    }
    .event p{
        font-size:17px;
    }
    
    .event img{
        width:200px;
        height:200px;
    }
    
    .event .date-image{
        width:30px;
        height:30px;
    }
    .event .date{
        font-size: 8px;
    }

    .upcoming-event{
        width:350px;
    }
    
       
    .upcoming-event h1{
        font-size:20px;
    }
    
    .upcoming-event p{
        font-size:15px;
    }
    
    .upcoming-event .date-image{
        width:25px;
        height:25px;
    }
    
    
    .upcoming-event .date{
        font-size:25px ;
    }
    
    .upcoming-event .time-image{
        width:25px;
        height:25px;
    }
    .upcoming-event .time{
        font-size: 25px;
    }

    .team-text-container {
        font-size: 90%;
    }
    
    .teams-container p{
        font-size:15px;
    }
    
    .team h1{
        font-size: 20px;
    }
    
    .team{
        width:400px;
        height:auto;
        margin-bottom: 15px;
    }

    .teams-container .team-image{
        width:100px;
    }
    .teams-container{
        gap:80px;
    }

    .teams-container .team-image{
        top: -30px; 
    }
    
    .team-title{
        position: relative;
        top: -45px; 
    }
    
    .team-title2{
        position: relative;
        top: -50px; 
    }
    
    .p-team{
        position: relative;
        top: -70px; 
    }

    .contact-text-container h1{
        font-size:300%;
    }

    .contact-desc{
        font-size: 100%;
    } 
    .contact-container {
        width: 100%;
        display: flex;
        align-items: center;
    }
    .contact{
        font-size: 15px;
        gap:40px;}

    .contact-input{
        width:60%;
        font-size:25px;
    }
    
    .contacts-box{
        padding-top:30px;}
    
    .contact-image{
        width:50px;
    }

}

/*Media quiery 2: Zoom:90*/

@media screen and (max-width: 1500px) and (min-width:1400px) and (min-height:500px) and (max-height:650px){
    .text-container h1 {
        font-size: 250%; 
    }

    .text-container p {
        font-size: 130%;
    }
    .second-logo-image{
        max-width: 50%;
        height: 60%;
    }
    .mission-text-container h1 {
        font-size: 250%;
    }
    .mission-text-container p {
        font-size: 110%;
    }
    .mission-image{
        max-width: 55%;
        height: 65%;
    }
    .events-text-container {
        font-size: 100%;
    }
    .styled-button {
        width: 180px;
        height: 60px;
        font-size: 130%;
      }

    .event{
        width:290px;
        padding:30px;
    }
    .event h1:first-of-type {
        font-size: 20px;
    }
    .event p{
        font-size:15px;
    }
    
    .event img{
        width:200px;
        height:200px;
        padding-top: 20px;
    }
    
    .event .date-image{
        width:25px;
        height:25px;
    }
    .event .date{
        font-size: 6px;
    }

    .upcoming-event{
        width:300px;
    }
    
       
    .upcoming-event h1{
        font-size:15px;
    }
    
    .upcoming-event p{
        font-size:13px;
    }
    
    .upcoming-event .date-image{
        width:22px;
        height:22px;
    }
    
    
    .upcoming-event .date{
        font-size:17px ;
    }
    
    .upcoming-event .time-image{
        width:22px;
        height:22px;
    }
    .upcoming-event .time{
        font-size: 20px;
    }

    .team-text-container {
        font-size: 80%;
    }
    
    .teams-container p{
        font-size:13px;
    }
    
    .team h1{
        font-size: 18px;
    }
    
    .team{
        width:350px;
        height:auto;
        margin-bottom: 10px;
    }

    .teams-container .team-image{
        width:100px;
    }
    .teams-container{
        gap:80px;
    }

    .teams-container .team-image{
        top: -30px; 
    }
    
    .team-title{
        position: relative;
        top: -45px; 
    }
    
    .team-title2{
        position: relative;
        top: -50px; 
    }
    
    .p-team{
        position: relative;
        top: -70px; 
    }

    .contact-text-container h1{
        font-size:250%;
    }

    .contact-desc{
        font-size: 90%;
    } 
    .contact-container {
        width: 90%;
        display: flex;
        align-items: center;
    }
    .contact{
        font-size: 10px;
        gap:40px;}

    .contact-input{
        width:60%;
        font-size:20px;
    }
    
    .contacts-box{
        padding-top:28px;}
    
    .contact-image{
        width:40px;
    }

}

/*Media quiery 2: Zoom:100*/

@media screen and (max-width: 1400px) and (min-width:1200px) {
    .text-container h1 {
        font-size: 200%; 
    }

    .text-container p {
        font-size: 110%;
    }
    .second-logo-image{
        max-width: 50%;
        height: 60%;
    }
    .mission-text-container h1 {
        font-size: 200%;
    }
    .mission-text-container p {
        font-size: 90%;
    }
    .mission-image{
        max-width: 55%;
        height: 65%;
    }
    .events-text-container {
        font-size: 90%;
    }
    .styled-button {
        width: 180px;
        height: 50px;
        font-size: 130%;
      }

    .event{
        width:250px;
        padding:30px;
    }

    .event h1:first-of-type {
        font-size: 15px;
    }
    .event p{
        font-size:15px;
    }
    
    .event img{
        width:150px;
        height:150px;
        padding-top: 10px;
    }
    
    .event .date-image{
        width:30px;
        height:40px;
    }
    .event .date{
        font-size: 10px;
    }

    .upcoming-event{
        width:300px;
    }
    
       
    .upcoming-event h1{
        font-size:15px;
    }
    
    .upcoming-event p{
        font-size:13px;
    }
    
    .upcoming-event .date-image{
        width:22px;
        height:22px;
    }
    
    
    .upcoming-event .date{
        font-size:20px ;
    }
    
    .upcoming-event .time-image{
        width:22px;
        height:22px;
    }
    .upcoming-event .time{
        font-size: 20px;
    }

    .team-text-container {
        font-size: 80%;
    }
    
    .teams-container p{
        font-size:11px;
    }
    
    .team h1{
        font-size: 15px;
    }
    
    .team{
        width:300px;
        height:auto;
        margin-bottom: 5px;
    }

    .teams-container .team-image{
        width:100px;
    }
    .teams-container{
        gap:80px;
    }

    .teams-container .team-image{
        top: -30px; 
    }
    
    .team-title{
        position: relative;
        top: -45px; 
    }
    
    .team-title2{
        position: relative;
        top: -50px; 
    }
    
    .p-team{
        position: relative;
        top: -70px; 
    }

    .contact-text-container h1{
        font-size:200%;
    }

    .contact-desc{
        font-size: 90%;
    } 
    .contact-container {
        width: 90%;
        display: flex;
        align-items: center;
    }
    .contact{
        font-size: 10px;
        gap:40px;}

    .contact-input{
        width:70%;
        font-size:18px;
    }
    
    .contacts-box{
        padding-top:28px;}
    
    .contact-image{
        width:40px;
    }

    #message{
        height:160px;
    }
}

/*  Device: Nest Hub  */
@media screen and (max-width: 1024px) and (min-width:600px) {
    .text-container h1 {
        font-size: 200%; 
    }

    .text-container p {
        font-size: 110%;
    }
    .second-logo-image{
        max-width: 50%;
        height: 60%;
    }
    .mission-text-container h1 {
        font-size: 200%;
    }
    .mission-text-container p {
        font-size: 90%;
    }
    .mission-image{
        max-width: 55%;
        height: 65%;
    }
    .events-text-container {
        font-size: 90%;
    }
    .styled-button {
        width: 180px;
        height: 50px;
        font-size: 130%;
      }

    .event{
        width:250px;
        padding:30px;
    }
    .event h1:first-of-type {
        font-size: 20px;
    }
    .event p{
        font-size:15px;
    }
    
    .event img{
        width:150px;
        height:150px;
    }
    
    .event .date-image{
        width:25px;
        height:25px;
    }
    .event .date{
        font-size: 6px;
    }

    .upcoming-event{
        width:300px;
    }
    
       
    .upcoming-event h1{
        font-size:15px;
    }
    
    .upcoming-event p{
        font-size:13px;
    }
    
    .upcoming-event .date-image{
        width:22px;
        height:22px;
    }
    
    
    .upcoming-event .date{
        font-size:20px ;
    }
    
    .upcoming-event .time-image{
        width:22px;
        height:22px;
    }
    .upcoming-event .time{
        font-size: 20px;
    }

    .team-text-container {
        font-size: 80%;
    }
    
    .teams-container p{
        font-size:11px;
    }
    
    .team h1{
        font-size: 15px;
    }
    
    .team{
        width:300px;
        height:auto;
        margin-bottom: 10px;
    }

    .teams-container .team-image{
        width:100px;
    }
    .teams-container{
        gap:80px;
    }

    .teams-container .team-image{
        top: -30px; 
    }
    
    .team-title{
        position: relative;
        top: -45px; 
    }
    
    .team-title2{
        position: relative;
        top: -50px; 
    }
    
    .p-team{
        position: relative;
        top: -70px; 
    }

    .contact-text-container h1{
        font-size:200%;
    }

    .contact-desc{
        font-size: 90%;
    } 
    .contact-container {
        width: 90%;
        display: flex;
        align-items: center;
    }
    .contact{
        font-size: 10px;
        gap:40px;}

    .contact-input{
        width:70%;
        font-size:18px;
    }
    
    .contacts-box{
        padding-top:28px;}
    
    .contact-image{
        width:40px;
    }

    #message{
        height:160px;
    }
}



/*Medium Devices (Larger Phones/Phablets) */
@media screen and (max-width: 768px) {
    .text-container h1 {
        font-size: 200%; 
    }

    .logo-image{
        height:100px;
        width:200px;
        padding-left: 50%;
    }
    .text-container p {
        font-size: 110%;
    }
    .second-logo-image{
        width: 100%;
        height: 100%;
    }
    .mission-text-container h1 {
        font-size: 200%;
    }
    .mission-text-container p {
        font-size: 100%;
    }
    .mission-image{
        max-width: 100%;
        height: 60%;
    }
    .events-text-container {
        font-size: 90%;
    }
    .styled-button {
        width: 180px;
        height: 50px;
        font-size: 130%;
      }

    .event{
        width:300px;
        padding:30px;
    }
    .event h1:first-of-type {
        font-size: 20px;
    }
    .event p{
        font-size:15px;
    }
    
    .event img{
        width:150px;
        height:150px;
    }
    
    .event .date-image{
        width:25px;
        height:25px;
    }
    .event .date{
        font-size: 6px;
    }

    .upcoming-event{
        width:300px;
    }
    
       
    .upcoming-event h1{
        font-size:15px;
    }
    
    .upcoming-event p{
        font-size:13px;
    }
    
    .upcoming-event .date-image{
        width:22px;
        height:22px;
    }
    
    
    .upcoming-event .date{
        font-size:20px ;
    }
    
    .upcoming-event .time-image{
        width:22px;
        height:22px;
    }
    .upcoming-event .time{
        font-size: 20px;
    }

    .team-text-container {
        font-size: 80%;
    }
    
    .teams-container p{
        font-size:11px;
    }
    
    .team h1{
        font-size: 15px;
    }
    
    .team{
        width:300px;
        height:auto;
        margin-bottom: 10px;
    }

    .teams-container .team-image{
        width:100px;
    }
    .teams-container{
        gap:80px;
    }

    .teams-container .team-image{
        top: -30px; 
    }
    
    .team-title{
        position: relative;
        top: -45px; 
    }
    
    .team-title2{
        position: relative;
        top: -60px; 
    }
    
    .p-team{
        position: relative;
        top: -90px; 
    }

    .contact-text-container h1{
        font-size:200%;
    }

    .contact-desc{
        font-size: 90%;
    } 
    .contact-container {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        padding: 0; 
    }
    
    .contact{
        font-size: 10px;
        gap:40px;}

    .contact-input{
        width:70%;
        font-size:18px;
    }
    
    .contacts-box{
        padding-top:28px;}
    
    .contact-image{
        width:40px;
    }

    #message{
        height:160px;
    }


    .logo-image{
        height:50px;
        width:50px;
    }
    
    .header{
        height:70px;
    }
    .navigation {
        gap: 30px;
    }
    
    .navigation a{
        font-size: 11px;
    }
    
    .signup-button a{
        font-size: 6px;
    }
    .signup-button a:hover {
        background-color: #a4c2bc;}
    
    .signup-button{
        padding-right: 30px;
    }
    .team-title2{
        position: relative;
        top: -50px; 
    }
    
    .p-team{
        position: relative;
        top: -70px; 
    }


    
}



/*Device: Surface Pro 7*/
@media screen and (max-width: 912px) and (max-height:1368px) {
    .header{
        height:70px;
    }
    .navigation {
        gap: 10px;
    }
    
    .navigation a{
        font-size: 20px;
    }
    
    .signup-button a{
        font-size: 6px;
    }
    .signup-button a:hover {
        background-color: #a4c2bc;}
    
    .signup-button{
        padding-right: 30px;
    }

    
    .logo-image{
        height:30px;
        width:30px;
    }

}

/*Small Devices (Phones)*/
@media (max-width: 480px) {
    .text-container h1 {
        font-size: 100%; 
    }

    .text-container p {
        font-size: 110%;
    }
    .second-logo-image{
        width: 100%;
        height: 100%;
    }
    .mission-text-container h1 {
        font-size: 100%;
    }
    .mission-text-container p {
        font-size: 50%;
    }
    .mission-image{
        max-width: 100%;
        height: 60%;
    }
    .events-text-container {
        font-size: 90%;
    }
    .styled-button {
        width: 180px;
        height: 50px;
        font-size: 130%;
      }

    .event{
        width:280px;
        padding:10px;
    }
    .event h1:first-of-type {
        font-size: 20px;
    }
    .event p{
        font-size:15px;
    }
    
    .event img{
        width:150px;
        height:150px;
    }
    
    .event .date-image{
        width:25px;
        height:25px;
    }
    .event .date{
        font-size: 6px;
    }

    .upcoming-event{
        width:300px;
    }
    
       
    .upcoming-event h1{
        font-size:14px;
    }
    
    .upcoming-event p{
        font-size:10px;
    }
    
    .upcoming-event .date-image{
        width:22px;
        height:22px;
    }
    
    
    .upcoming-event .date{
        font-size:20px ;
    }
    
    .upcoming-event .time-image{
        width:22px;
        height:22px;
    }
    .upcoming-event .time{
        font-size: 20px;
    }

    .team-text-container {
        font-size: 80%;
    }
    
    .teams-container p{
        font-size:11px;
    }
    
    .team h1{
        font-size: 15px;
    }
    
    .team{
        width:300px;
        height:350px;
        margin-bottom: 10px;
    }

    .teams-container .team-image{
        width:100px;
    }
    .teams-container{
        gap:80px;
    }

    .teams-container .team-image{
        top: -30px; 
    }
    
    .team-title{
        position: relative;
        top: -45px; 
    }
    
    .team-title2{
        position: relative;
        top: -50px; 
    }
    
    .p-team{
        position: relative;
        top: -70px; 
    }

    .contact-text-container h1{
        font-size:200%;
    }

    .contact-desc{
        font-size: 90%;
    } 
    .contact-container {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        padding: 0; 
    }
    
    .contact{
        font-size: 10px;
        gap:40px;}

    .contact-input{
        width:70%;
        font-size:18px;
    }
    
    .contacts-box{
        padding-top:28px;}
    
    .contact-image{
        width:40px;
    }

    #message{
        height:160px;
    }


    .logo-image{
        height:30px;
        width:30px;
    }
    
    .header{
        height:70px;
    }
    .navigation {
        gap: 10px;
    }
    
    .navigation a{
        font-size: 7px;
    }
    
    .signup-button a{
        font-size: 6px;
    }
    .signup-button a:hover {
        background-color: #a4c2bc;}
    
    .signup-button{
        padding-right: 30px;
    }
    


}
